/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: rgb(19, 18, 18);

}

#header {
    background-image: url(bielefeld_header.jpg);
    background-size: cover;
    height: 500px;
    color: rgb(19, 18, 18);
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.heading  {
    margin-top: 75px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    background-color: hsl(0, 0%, 85%, 0.4);
 
}




.main {
    background-color: #A8DADC;
    background-size: cover;
    height: 500px;
}

#main-heading {
    margin-top: 50px;
    font-size: x-large;
}

.activities {
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    
}

.section {
    width: 200px;
}

.guide {
    background-size: cover;
    height: 500px;

}

.img-activites {
    width: 150px;
    border-radius: 50%;
    height: 150px;
}

img {
    width: 250px;
    height: 250px;
}


.card {
    width: 450px;
    height: 250px;
    display: flex;
    margin: 100px auto;
    padding: 20px;
    background-color: #AFDBA7;
    border-bottom: 5px solid #274F20;
} 

#cardbox {
    padding: 0px 20px;
}

